<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.souqApp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".infra.utils.App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeLight"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:theme="@style/splash"
            android:name=".presentation.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.create_password.CreatePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.notification.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.main.more.terms_and_conditions.TermsAndConditionsActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.main.more.about_us.AboutUsActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.main.more.wish_list.WishListActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.main.more.contact_us.ContactUsActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.order_details.OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.orders.OrdersActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.payment_details.PaymentDetailsActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".presentation.addresses.map.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".presentation.addresses.AddressActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.product_details.ProductDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.products_by_type.ProductsByTypeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.main.more.changePassword.ChangePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.sub_categories.SubCategoriesActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.main.more.profile.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.verification.VerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.forgot_password.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.register.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLight"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".infra.utils.MFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>